<br>
<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>


<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
<% end %>

<br />

<%= link_to 'New User', new_user_path %>
