<br>
<p>
	Andrew Kelly is an aspiring web developer and programmer originally from Port Angeles, WA. Some more bio information might go here, but it seems unnecessary and sort of self-centered.

	Andrew is currently living in Chicago.
</p>