<br>
<% @projects.each do |project| %>

  <h2>
  	<%= image_tag project.avatar.url(:thumb) %>
    <%= project.name %>
  </h2>
  <p>
    <%= project.description %>
  </p>
<% end %>

<%= link_to 'New project', new_project_url %>