/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body {
	background-image: url(redox_01.png);
}

h2 {
	color: #475BB1;
	text-shadow: 1px 1px 1px #D9DBE5;
	padding: 5px;
}

nav {
	background-color: #D9DBE5;

}
nav a {
	text-decoration:none;
	padding: 10px;

}
nav a:hover {
	display:none;
}
nav ul {
	list-style: none;
	margin:0;
	padding:0;
}

nav ul li {
	background-color: #D9DBE5;
	display:block;
	position:relative;
	float:left;
}

#bio_pic {
	border: 1px solid #475BB1;
}

.side_bio {
	float: right;
	margin: 10px;
	width: 200px;
	margin-top: 10px;
	border: 3px solid #475BB1;
	padding: 10px;
	background-color: #D9DBE5
}

.side_bio #bio_mini {
	font-size: 115%;
}

#tag_cloud {
  width: 400px;
  line-height: 1.6em;}
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}


