/* Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, 
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Begin */

body {
	background-image: url(escher.png);
	padding: 20px;
	line-height: 150%;
	letter-spacing: .03em;
	word-spacing: .12em;
}

body h1 {
	font-family: 'Armata', sans-serif;
	font-variant: small-caps;
}

body a {
	color: #2933C4;
	text-decoration: none;
}

.container {
	background-image: url(whit_blue.png);
	overflow: hidden;
	margin: 0 auto;
	width: 975px;
	padding-top: 25px;
}

nav {
	margin-top: 50px;
	float: left;
	padding: 10px;
	padding-top: 36px;
}

nav li {
	display: inline;
	font-size: 24px;
	padding: 70px;
}

.top_box {
	background: #E6D344;
	float: right;
	width: 461.5px;
	height: 201px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 30px;
	border: solid black 2px;
	font-family: 'Armata', sans-serif;
}

.top_box img {
	float:left;
}

#bio_pic {
	border: solid black 2px;
	margin-right: 10px;
}

.bio_box {
	padding-left: 10px;
	padding-top: 15px;
}

.bio {
	margin-top: 12px;
}

.post_content {
	background: #E6D344;
	width: 912px;
	margin-right: 10px;
	margin-left:  10px;
	float: left;
	border: solid black 2px;
	font-family: 'Droid Sans', sans-serif;
	padding: 20px;
	line-height: 200%;
}

.clear {
	clear: both;
}

.post_title {
	font-size: 36px;
}

.post_date {
	font-size: 16px;
}

.social_buttons {
	float: left;
	padding: 10px;
	padding-top: 36px;
}

.social_buttons li {
	display: inline;
	font-size: 24px;
	padding: 70px;
}

.project_image {
	float: left;
	padding-right: 20px;
}

pre {
	background: #cfbd3d;
	margin-top: 10px;
	margin-bottom: 10px;
}
