// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project_class a {
	text-decoration: none;
}

li {
	list-style-type: none;
}

a:hover {
	text-decoration: none;
}

#project_image {
	float:left;
	padding:10px;
	margin: 20px;
}

#project_name {
	font-size: 200%;
	font-weight: bold;
}

#project_description {
	font-size: 110%;
}

#new_project {
	position: absolute;
	bottom: 0;
	padding: 20px;
}

#project_div {
	float:left;
}

#return {
	text-decoration: underline;
	font-size: 170%;
}